.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.header{
    max-width: inherit;
    width: inherit;
    /* height: 3.125rem; */
    padding: 18px 20px 18px 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #f6f8f9;
}
ul{
    display: flex;
    gap: 30px;
    margin-right: 1.188rem;
    font-size: 0.815rem;
    color: #343638;
}
.home{
    font-weight: bolder;
    color: black;
}
li:hover{
    border-bottom: 0.313rem solid pink;
    transition: 1s;
}
.worldnews:link{
    color: black;
}
.logo_text{
    width: 10%;
    height: 100%;
    font-size: 0.815rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:red;
    font-weight: bold; 
    animation-name: logo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes logo{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.section1{
    width: 100%;
    margin-top: 3.125rem;
    display: flex;
}
.section1_div1{
    width: 60%;
    height: 599px;
    background-image: url("../images/nature.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section1_div2{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}
.h2-1{
  color: white;
  font-weight: bold;  
  font-size: 1.5rem;
}
.h2-1::after{
    content: "";
    width: 100%;
    height: 3%;
    background-color: white;
    display: inline-block;
    margin-top: 2.5rem;
}
.h2-2{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.section1-p{
    font-size: 1rem;
    color: white;
}
.section1-button{
    color: white;
    padding: 1rem 2rem;
    background-color: #fa6980;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}
.section1_div3{
    width: 40%;
    height: 599px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section1_div4{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}
.h2-3{
    color: black;
    font-weight: bold;  
    font-size: 1.5rem;
}
.h2-3::after{
    content: "";
    width: 100%;
    height: 3%;
    background-color: #ebeded;
    display: inline-block;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}
.section1-article{
    width: 80%;
    height: 100%;
    gap: 1rem;
}
.section1-h3{
    color: #fa6980;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}
.section1-h4{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.sectio1-p1{
    color: #a6adb4;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.section2{
    width: 90%;
    margin: 32px auto;
}
.section2-article1{
    width: 32%;
}
.h2-4{
    color: black;
    font-weight: bold;  
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.section2-div1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section2_image1{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 5px;
}
.section2_image1:hover{
    transform: scale(2); 
    transition: 2s;
}
.section2-figcaprion1{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 3rem;
}
.section2_p1{
    color: #a6adb4;
    font-size: 1rem;
    width: 70%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}
.section3{
    width: 90%;
    height: 59rem;
    margin: 0 auto;
}
.h2-5{
    color: black;
    font-weight: bold;  
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.section3-div{
    display: flex;
    justify-content: space-between;
}
.section3_div1{ 
    width: 60%;
    height: 56rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section2_div2{
    width: 100%;
    height: 27rem;
    background-image: url("../images/city.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section2_div3{
    width: 100%;
    height: 27rem;
    background-image: url("../images/nature1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section3-div4{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 15rem;
}
.section3-p1{
    font-size: 1rem;
    color: white;
    width: 80%;
}
.section3-div5{
    width: 30%;
    height: 56rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section3_figure1{
    height: 56rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section3-figcaption1{
    font-size: 1rem;
    font-weight: bold;
}
.footer{
    width: 100%;
    height: 12.5rem;
    display: flex;
    justify-content: space-between;
    background-color:#a6adb4;
}
.footer_div{ 
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #cbd0d3;
    line-height: 20px;
}
.footer_h4{
    display: flex;
    align-items: top;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
}
.footer_div1{
    width: 20%;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* მეორე გვერდის დასაწყისი */
.contact_worldnews{
    font-weight: bolder;
    color: black;
}
.contact_section1{
    width: 90%;
    height: 500px;
    margin: 103px auto 36px ;
    display: flex;
}
.contact_section1_div1{
    width: 50%;
    height: 500px;
    background-image: url("../images/nature2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contact_section1_div1_h2{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_section1_form1{
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_section1_form1_div1{
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact_section1_form1_div2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact_section1_form1_label{
    font-size: 1rem;
    font-weight: bold;
    color: #202124;
}
.contact_section1_form1_input1{
    border-radius: 10px;
    height: 40px;
    border-color: #ffffff;
}
.contact_section1_form1_button1{
    width: 40%;
    padding: 10px 35px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: red;
    border: none;
}
.contact_section1_form1_button1:hover{
    transform: scale(1.5);
    transition: 1s;
    background-color: pink;
}
.contact_section2{
    width: 90%;
    height: 255px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.contact_section2_div1{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact_section2_figure1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact_section2_image1{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.contact_section2_figcaption1{
    font-size: 1.8rem;
    font-weight: bold;
    color: #202124;
}
.contact_section2_p1{
    width: 30%;
    height: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: #a6adb4;
    line-height: 25px;
}
.contact_section3{
    width: 90%;
    height: 831px;
    margin: 36px auto 160px;
}
.contact_section3_div1{
    width: 100%;
    height: 60%;
    background-image: url("../images/elephant.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contact_section3_p1{
    font-size: 1rem;
    color:#a6adb4;
    line-height: 20px;
    margin: 70px auto 50px auto;
}

